services:
  postgres:
    image: postgres:16-alpine
    container_name: hr_platform_db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hr_platform
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
